.advantages {
  color: #f7f4f1;
  background-color: @bg-darkness;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  padding-top: 140px;

  text-align: center;
}

.advantages__title {
  margin: 0;

  font-family: "pt_sans_narrowbold";
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0;

  font-size: 20px;
  line-height: 27px;
}
