.contacts {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contacts__title {
  margin: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
}

.contacts__address {
  margin: 0;
}

.contacts__phone {
  margin: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 320px;
  }
}
