.input {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;

  font: inherit;
  line-height: 30px;
  border: 1px solid #e5ddd5;
}

@media (min-width: @tablet-width) {
  .input {
    font-size: 24px;
  }
}
