.news {
}

.news__heading {
  margin: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.news__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.news__item {
  display: flex;
  align-items: flex-start;
  padding: 13px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #e5ddd5;
  }
}

.news__date {
  display: inline-block;
  padding: 9px 12px;
  padding-bottom: 14px;

  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.news__day {
  display: block;
  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.news__month {
  display: block;
  font-size: 16px;
  line-height: 30px;
}

.news__text {
  margin: 0;
}

.news__to-all {
}
