.news {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;

  color: #000000;
  background-color: @bg-lightness;
  border-bottom: 1px solid #e5ddd5;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 35px;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(
      to right top,
      @bg-lightness,
      @bg-lightness 49%,
      #242424 50%,
      #242424 100%
    );
  }

  &::after {
    right: 0;
    background-image: linear-gradient(
      to right bottom,
      #242424,
      #242424 50%,
      @bg-lightness 51%,
      @bg-lightness 100%
    );
  }
}

.news__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 0 20px;
}

.news__heading {
  margin: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.news__list {
  margin: 0;
  padding: 0;

  list-style: none;

  li:first-child {
    border-bottom: 1px solid #e5ddd5;
  }

  li:last-child {
    display: none;
  }
}

.news__item {
  display: flex;
  align-items: flex-start;

  padding: 20px 0;

  color: #000000;
  text-decoration: none;

  &:hover {
    .news__date {
      background-color: @bg-brown-light;

      &::after {
        border-top-color: @bg-brown-light;
      }
    }

    .news__text {
      color: @bg-brown-light;
      text-decoration: underline;
    }
  }

  &:active {
    .news__date {
      color: rgba(255, 255, 255, 0.3);
      background-color: @bg-brown;

      &::after {
        border-top-color: @bg-brown;
      }
    }

    .news__text {
      color: @bg-brown;
      text-decoration: underline;
    }
  }
}

.news__date {
  position: relative;

  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 5px 10px;
  padding-bottom: 0;

  color: #ffffff;
  background-color: #000000;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;

    width: 0;
    height: 0;

    border-top: 10px solid #000000;
    border-bottom: 10px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
}

.news__day {
  display: block;
  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.news__month {
  display: block;
  font-size: 16px;
  line-height: 16px;
}

.news__text {
  width: 210px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .news {
    width: auto;
    margin: 0;
    padding-top: 85px;
    padding-bottom: 35px;

    &::before,
    &::after {
      height: 45px;
    }

    &::before {
      background-image: linear-gradient(
        to right top,
        @bg-lightness,
        @bg-lightness 49%,
        @bg-darkness 50%,
        @bg-darkness 100%
      );
    }

    &::after {
      background-image: linear-gradient(
        to right bottom,
        @bg-darkness,
        @bg-darkness 50%,
        @bg-lightness 51%,
        @bg-lightness 100%
      );
    }
  }

  .news__wrapper {
    flex-direction: row;
    align-items: center;

    width: 640px;
    margin: 0 auto;
    padding: 0;
  }

  .news__heading {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }

  .news__list {
    order: 2;
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;

    li:first-child {
      border: none;
    }
  }

  .news__item {
    width: 320px;
    padding: 0;
  }

  .news__text {
    &--full {
      display: none;
    }
  }

  .news__to-all {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .news {
    padding-top: 120px;
    padding-bottom: 40px;

    &::before,
    &::after {
      height: 65px;
    }
  }
  .news__wrapper {
    width: 960px;
  }

  .news__heading {
    padding-left: 70px;
  }

  .news__list {
    li:last-child {
      display: flex;
    }
  }
}
