.news {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 70px;

  color: #000000;
  background-color: @bg-lightness;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 45px;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(
      to right top,
      @bg-lightness,
      @bg-lightness 49%,
      #242424 50%,
      #242424 100%
    );
  }

  &::after {
    right: 0;
    background-image: linear-gradient(
      to right bottom,
      #242424,
      #242424 50%,
      @bg-lightness 51%,
      @bg-lightness 100%
    );
  }
}

.news__heading {
  margin: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.news__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.news__item {
  display: flex;
  align-items: flex-start;

  padding: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #e5ddd5;
  }
}

.news__date {
  display: inline-block;
  margin-right: 20px;
  padding: 9px 12px;
  padding-bottom: 14px;

  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.news__day {
  display: block;
  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.news__month {
  display: block;
  font-size: 16px;
  line-height: 30px;
}

.news__text {
  width: 210px;
  margin: 0;
}

.news__to-all {
}

@media (min-width: @tablet-width) {
  .news {
    width: auto;
    margin: 0;

    &::before {
      background-image: linear-gradient(
        to right top,
        @bg-lightness,
        @bg-lightness 49%,
        @bg-darkness 50%,
        @bg-darkness 100%
      );
    }

    &::after {
      background-image: linear-gradient(
        to right bottom,
        @bg-darkness,
        @bg-darkness 50%,
        @bg-lightness 51%,
        @bg-lightness 100%
      );
    }
  }

  .news__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .news__heading {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }

  .news__list {
    display: flex;
    flex-wrap: wrap;
  }

  .news__item {
    width: 320px;
    padding: 0;
  }
}
