.page-footer {
  box-sizing: border-box;
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 25px;

  color: #ffffff;
  background-color: #292929;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: auto;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 640px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 960px;
  }
}
