.price-list {
  color: #ffffff;
  background-color: #353535;
}

.price-list__heading {
  margin: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.price-list__table {
  border-spacing: unset;

  font-size: 20px;
}

.price-list__field {
  padding: 0;
}

.price-list__value {
  padding: 0;
}

.price-list__field-name {
  font-family: "pt_sans_narrowbold", Arial, sans-serif;
}

@media (min-width: @tablet-width) {
  .price-list__heading {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
}
