.record-form {
}

.record-form__name {
  margin: 0;
  padding: 0;

  border: none;
}

.record-form__contacts {
  margin: 0;
  padding: 0;

  border: none;
}

.record-form__additional-info {
  margin: 0;
}

.record-form__beard-models {
  margin: 0;
  padding: 0;

  border: none;
}

.record-form__legend {
  padding: 0;

  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.record-form__additional-services {
  margin: 0;
  padding: 0;

  border: none;
}

.record-form__radio-label {
  line-height: 24px;
}

.record-form__checkbox-label {
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .record-form__legend {
    font-size: 30px;
    line-height: 30px;
  }

  .record-form__radio-label {
    font-size: 24px;
  }

  .record-form__checkbox-label {
    font-size: 24px;
  }
}
