.reviews {
  padding-top: 32px;
  border-top: 1px solid #e5ddd5;
}

.reviews__heading {
  margin: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__item {
  padding: 13px 0;
}

.reviews__avatar {
  margin: 0;
}

.reviews__author {
  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
}

.reviews__text {
  margin: 0;
}
