.reviews {
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 30px;

  color: #000000;
  background-color: @bg-lightness;
}

.reviews__wrapper {
  position: relative;
  padding: 0 20px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;

    border-top: 35px solid @bg-lightness;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 35px solid transparent;
  }
}

.reviews__heading {
  margin: 0;
  margin-bottom: 30px;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__previous,
.reviews__next,
.reviews__button {
  display: none;
}

.reviews__slider {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__item {
  display: flex;
  align-items: flex-start;
}

.reviews__avatar {
  flex-shrink: 0;

  margin: 0;
  margin-right: 20px;
  margin-top: 10px;
}

.reviews__author {
  display: inline-block;
  margin-bottom: 9px;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
}

.reviews__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: auto;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;

    width: 640px;
    margin: 0 auto;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .reviews__heading {
    margin: 0;

    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }

  .reviews__button {
    display: block;
    margin-left: auto;
  }

  .reviews__slider {
    position: relative;
    margin-top: 35px;
  }

  .reviews__previous,
  .reviews__next {
    flex-shrink: 0;

    position: relative;
    display: block;
    padding: 0;

    width: 50px;
    height: 160px;

    background-color: transparent;
    border: 1px solid #e5ddd5;
  }

  .reviews__previous::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -6px;

    border: 6px solid transparent;
    border-right: 12px solid #000000;
  }

  .reviews__next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -6px;

    border: 6px solid transparent;
    border-left: 12px solid #000000;
  }

  .reviews__list {
    width: 540px;
  }

  .reviews__item {
    box-sizing: border-box;
    padding: 34px 30px;
    padding-bottom: 31px;

    border: 1px solid #e5ddd5;
    border-right: none;
    border-left: none;
  }

  .reviews__avatar {
    margin-right: 30px;

    font-size: 0;
    line-height: 0;
  }

  .reviews__image {
    border-radius: 50%;
  }

  .reviews__slider-controls {
    position: absolute;
    top: 100%;
    left: 50%;

    margin-left: -63px;
    margin-top: -25px;
    padding: 10px 20px;

    background-color: @bg-lightness;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding-bottom: 100px;
  }

  .reviews__wrapper {
    width: 960px;
  }

  .reviews__heading {
    padding-left: 70px;
  }

  .reviews__previous {
    margin-right: 20px;
  }

  .reviews__next {
    margin-left: 20px;
  }

  .reviews__list {
    width: 820px;
  }

  .reviews__item {
    padding: 0;
    border: none;
  }

  .reviews__avatar {
    margin: 0;
  }

  .reviews__item-wrapper {
    padding: 34px 70px;
    padding-right: 80px;

    border: 1px solid #e5ddd5;
  }

  .reviews__image {
    border-radius: 0;
  }

  .reviews__slider-controls {
    margin: 25px 0;
    margin-left: -63px;
    padding: 10px 20px;

    background-color: @bg-lightness;
  }
}
