.site-navigation {
}

.site-navigation__item {
  padding: 13px 20px;
}

.site-navigation__link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: @tablet-width) {
  .site-navigation {
    display: flex;
    justify-content: space-between;

    width: 560px;
  }

  .site-navigation__item {
    padding: 24px 0;
  }
}

@media (min-width: @desktop-width) {
  .site-navigation {
    width: 760px;
  }

  .site-navigation__item {
    padding: 24px 30px;
  }
}
