.stats {
  background-color: @bg-darkness;
}

.stats__wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.stats__header {
  padding: 30px 40px;

  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;

  font-family: "pt_sans_narrowbold";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.stats__intro {
  margin: 0;

  font-size: 20px;
  line-height: 27px;
}

.stats__table {
  width: 100%;

  color: #f7f4f1;
  border-collapse: collapse;
  line-height: 18px;
}

.stats__row {
  &--light {
    background-color: #4e4e4e;
  }

  &--dark {
    background-color: #404040;
  }
}

.stats__value,
.stats__field {
  width: 50%;
  padding: 19px;
  padding-bottom: 19px;

  vertical-align: top;
}

.stats__value {
  position: relative;
  padding-right: 0;

  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.stats__value sup {
  position: absolute;
  top: 25px;

  margin-left: 5px;
}

.stats__field {
  padding-left: 0;

  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

.stats__field-word {
  display: block;
}

.stats__legend {
  display: inline-block;
  width: 100%;
  padding: 21px 0;

  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);

  &--bottom {
    background-color: #242424;
  }

  &--top {
    display: none;
    padding: 0;

    color: #000000;
  }
}

@media (min-width: @tablet-width) {
  .stats__wrapper {
    width: 640px;
    margin-top: -178px;
  }

  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 23px;

    text-align: left;

    &::before {
      content: "";

      position: absolute;
      top: 27px;
      left: -15px;

      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      transform: rotate(45deg);
    }
  }

  .stats__slogan {
    width: 240px;
    margin-bottom: 18px;

    font-size: 40px;
    line-height: 40px;

    text-transform: none;
  }

  .stats__intro {
    width: 210px;
    margin-top: 5px;
    padding-right: 47px;
  }

  .stats__legend {
    &--top {
      display: block;
      width: 240px;

      color: rgba(0, 0, 0, 0.3);
    }

    &--bottom {
      display: none;
    }
  }

  .stats__body {
    display: flex;
    flex-wrap: wrap;
  }

  .stats__row {
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px;
  }

  .stats__row td {
    display: block;
    width: auto;
    padding: 0;
  }

  .stats__value {
    margin-bottom: 7px;

    font-size: 72px;
    line-height: 72px;
  }

  .stats__value sup {
    top: 20px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .stats__field-word {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .stats__wrapper {
    display: flex;

    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 320px;
  }

  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }

  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
  }

  .stats__legend--top {
    margin-top: auto;

    text-align: left;
  }

  .stats__table {
    display: flex;
  }
}
