.stats {
}

.stats__header {
  padding: 31px 38px;
  padding-bottom: 29px;

  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.stats__slogan {
  font-family: "pt_sans_narrowbold";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.stats__intro {
  margin: 0;

  font-size: 20px;
  line-height: 27px;
}

.stats__table {
  width: 100%;

  line-height: 18px;
  color: #ffffff;
  background-color: #404040;
}

.stats__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 22px;

  &--light {
    background-color: #4e4e4e;
  }

  &--dark {
    background-color: #353535;
  }
}

.stats__value {
  font-family: "pt_sans_narrowbold", Arial, sans-serif;
  font-size: 40px;
}

.stats__field {
  text-align: end;
  color: #f7f4f1;
}

.stats__legend {
  display: inline-block;
  width: 100%;
  padding: 21px 0;

  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: @bg-darkness;
}
