.user-navigation {
  background-color: @bg-brown;
  font-family: "pt_sans_narrowregular", Arial, sans-serif;
  text-transform: capitalize;
}

.user-navigation__link {
  display: block;
  padding: 13px 21px;
  color: #ffffff;
  text-decoration: none;
}

.user-navigation__login {
  position: relative;

  padding-left: 50px;
}

.user-navigation__login-icon {
  position: absolute;
  top: 14px;
  left: 21px;

  width: 16px;
  height: 16px;

  opacity: 0.3;

  fill: #ffffff;
}

@media (min-width: @tablet-width) {
  .user-navigation {
    width: 50px;

    text-transform: uppercase;
    background-color: #000000;
  }

  .user-navigation__link {
    padding: 0;

    &:hover .user-navigation__login-icon {
      opacity: 1;

      fill: #826550;
    }

    &:active .user-navigation__login-icon {
      opacity: 0.3;

      fill: #ffffff;
    }
  }

  .user-navigation__login {
    font-size: 0;
  }

  .user-navigation__login-icon {
    top: -3px;
    left: 12px;
  }
}

@media (min-width: @desktop-width) {
  .user-navigation {
    width: auto;
    max-width: 160px;
  }

  .user-navigation__link {
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;

    font-family: "pt_sans_narrowbold", Arial, sans-serif;

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }

    &:hover .user-navigation__login-icon {
      opacity: 0.3;

      fill: #000000;
    }

    &:active .user-navigation__login-icon {
      opacity: 0.1;
    }
  }

  .user-navigation__login {
    font-size: 18px;
  }

  .user-navigation__login-icon {
    top: 28px;
    left: 15px;
  }
}
