.user-navigation {
  background-color: @bg-brown;
  font-family: "pt_sans_narrowregular", Arial, sans-serif;
  text-transform: capitalize;
}

.user-navigation__item {
  padding: 13px 20px;
}

.user-navigation__link {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .user-navigation {
    width: 50px;

    text-transform: uppercase;
    background-color: #000000;
  }

  .user-navigation__item {
    padding: 24px 0;
  }
}

@media (min-width: @desktop-width) {
  .user-navigation {
    width: 160px;
  }

  .user-navigation__item {
    padding: 24px 30px;
  }
}
